
<div>
    <h2>Products</h2>


<div class="itemslist"> 
<div class="item" *ngFor="let i of items">
<div > 
    <img class="card-img-top" style="height: 250px"  src= {{i.image}} >
    <div>
        <h5 class="card-title">{{i.title }}</h5>	
    </div>


    <div class="card-footer">
    <button (click)="getInfo(i.id)">View Details</button>
    <button class="btn btn-block btn-secondary" 
    *ngIf="getQuantity(i.id) === 0; else updateQuantity"
    (click)="addToCart(i.id,i.title)">Add to cart</button>
    <ng-template #updateQuantity>
        <div class="col-2">
            <button (click)="incrementCart(i.id)"
                     class="btn btn-secondary btn-block">+</button>
        </div>
        {{getQuantity(i.id)}}
        <div class="col-2">
            <button (click)="decreseCartItem(i.id)"
                     class="btn btn-secondary btn-block">-</button>
        </div>
    </ng-template>
</div>

</div>
</div>
</div>
</div>
<div class="container">
    Recipe of the day
    <div class="container">
        {{recipeOfTheDay}}
    </div>
</div>